<ion-header>
  <ion-toolbar>
    <ion-title>GRUPO # 3</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
   
            <ion-label>INTEGRANTES:</ion-label>
            <ion-label>WILLIAM BONILLA</ion-label>
            <ion-label>ADRES RUBIO</ion-label>
            <ion-label>DIANA QUIÑONES</ion-label>
            <ion-label>JOYCE PAREDES</ion-label>

  </ion-grid>

</ion-content>
